# .NET Core
*.swp
*.~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/

# JetBrains Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Docker
.docker/data/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend build outputs
build/
dist/
coverage/
.next/
out/
.nuxt/
.cache/
public/dist/

# Editor directories and files
.idea
*.ntvs*
*.njsproj
*.sw?
